body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 20px;
  max-height: 600px;
}

input {
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  padding: 5px 15px;
}

@media (max-width: 600px) {
    input {
        width: 90%; 
    }
}

input:hover {
  background-color: rgb(218, 218, 218);
  font-size: 15px;
}

.search-container {
  display: flex;
  padding: 15px 20px;
  color: rgb(46, 113, 196);
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 600px;
  max-width: 100%;
}

@media (max-width: 600px) {
    .search-container {
        width: 70%;
    }
}


header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-size: 13px;
  font-family: Arial;
}

@media (max-width: 600px) {
    header {
        width: 90%;
    }
}

header a {
  text-decoration: none;
  color: #444445;
  margin: 0 10px;
}

header a:hover {
  text-decoration: none;
  text-decoration: underline;
  color: #444445
}

.button-container {
  margin-top: 10px;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #444445;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 11px 6px;
  padding: 0 16px;
  line-height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
}

button:hover {
  border: 1px solid #dadce0;
  color: #444445;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 290px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background-color: #dadce0; 
  color: #444445;
}

@media (max-width: 600px) {
    footer {
      overflow: hidden;
      width: 101%;
      font-size: 7px;
      justify-content: space-evenly;
      flex-shrink: 0;
      }
}

.footer-top {
  padding: 15px 30px;
  border-bottom: 1px solid #444445; 
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

footer a {
  text-decoration: none;
  color: #444445;
  margin: 0px 10px;
}

footer a:hover {
  text-decoration: underline;
}

.footer-left, .footer-right {
  display: flex;
}

@media (max-width: 600px) {
    img {
        width: 50%; 
    }
}